body {
   font-family: "Bookman Old Style";
   font-size: 14px;
   font-weight: bold;
   color: #CA8035;
   text-align: left;
   background-image: url(dibujo/fondoesq-0.gif);
   border-image-repeat: repeat
}
#col1 { /*Cuadro Izd*/
   text-align: center;
   position: fixed;
   top: 10px;
   left: 10px;
   width: 258px;
   border: 1px solid;
}
#col2 { /*Cabecera de Listado*/
   position stiky;
   margin-left: 261px;
   margin-right: 10px;
   margin-top: 1px;
   border-top: 0px solid;
   border-bottom: 0px solid;
   border-left: 0px solid;
}
.td3 { /*col2*/
   position: fixed;
   vertical-align: top;
   left: 300px;
   width: 320px;
   color: #000;
   background-color: transparent;
   border-top: 0px;
   border-bottom: 0px;
   border-left: 0px;
   border-right: 0px;
}
.table3 { /*Index*/
   width: 100%;
   border: 4px solid #CA8035;
   text-align: center;
}
.td1 { /*Table3*/
   top: 10px;
   left: 15px;
   width: 250px;
   border: 1px solid #ca8035;
}
.td2 { /*Table3*/
   top: 10px;
   left: 500px;
   width: 100%;
   border: 1px solid #ca8035;
}
a:link {
   color: #ff6633;
}
a:hover {
   color: #0066ff;
}
a:visited {
   color: #3CBE6E;
}
h1 {
   font-size: 30px;
   text-align: left;
}
h2 {
   font-size: 20px;
   text-align: left;
}
h3 {
   font-size: 16px;
   text-align: left;
}
.font10 {
   font-size: 10px
}
.font12 {
   font-size: 12px
}
.font14 {
   font-size: 14px
}
.font18 {
   font-size: 18px
}
.font20 {
   font-size: 20px
}
.font22 {
   font-size: 22px
}
.font24 {
   font-size: 24px
}